<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <button ng-click="listItem()" class="btn btn-info">show items</button>
<h4>Items in your cart</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>ITEM NAME</th>
		<th>AMOUNT</th>
      </tr>
    </thead>
    <tbody>
	    <tr ng-repeat="x in cartInfo" class="warning">
		  <td>{{x.id}}</td>
		  <td>{{x.itemName}}</td>
		  <td>{{x.amount}}</td>
		</tr>
    </tbody>
  </table>
</body>
</html>